# --- INFRAESTRUTURA ---
PORT_BACKEND=3001
PORT_FRONTEND=8082
CLOUDFLARE_TUNNEL_TOKEN=seu_token_aqui

# --- BANCO DE DADOS ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=crudmundo
DATABASE_URL=postgresql://postgres:password@db:5432/crudmundo?schema=public

# --- SEGURANÇA ---
JWT_SECRET=sua_secret_jwt_aqui

# --- API TOKENS ---
VITE_GROQ_API_KEY=seu_token_groq_aqui
